<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.PushPlugin"
    version="2.2.0">

  <name>PushPlugin</name>
	<author>Bob Easterday</author>

	<description>
		This plugin allows your application to receive push notifications on Android, iOS and WP8 devices.
    Android uses Baidu Cloud Push.
    iOS uses Apple APNS Notifications.
    WP8 uses Microsoft MPNS Notifications.
	</description>

	<license>MIT</license>

	<js-module src="www/PushNotification.js" name="PushNotification">
   	<clobbers target="PushNotification" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="android-package" value="com.plugin.baidu.PushBaiduPlugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <!-- <application android:name="com.baidu.frontia.FrontiaApplication"></application> -->
      <!-- Push service 运行需要的权限 -->
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />  
      <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
      <uses-permission android:name="android.permission.WRITE_SETTINGS" />
      <uses-permission android:name="android.permission.VIBRATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
      <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
      <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <!-- push应用定义消息receiver声明 -->
      <receiver android:name="com.plugin.baidu.BaiduPushMessageReceiver">
        <intent-filter>
          <!-- 接收push消息 -->
          <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
          <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
          <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
          <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
        </intent-filter>
      </receiver>

      <!-- push service start -->
      <!-- 用于接收系统消息以保证PushService正常运行 -->
      <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
          android:process=":bdservice_v1" >
          <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
              <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
              <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
              <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
              <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
              <action android:name="android.intent.action.MEDIA_MOUNTED" />
              <action android:name="android.intent.action.USER_PRESENT" />
              <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
              <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
          </intent-filter>
      </receiver>
      <!-- Push服务接收客户端发送的各种请求-->
      <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
          android:process=":bdservice_v1" >
          <intent-filter>
              <action android:name="com.baidu.android.pushservice.action.METHOD" />
              <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
          </intent-filter>
          <intent-filter>
              <action android:name="android.intent.action.PACKAGE_REMOVED" />
              <data android:scheme="package" />
          </intent-filter>                   
      </receiver>
      <service android:name="com.baidu.android.pushservice.PushService" android:exported="true" 
          android:process=":bdservice_v1" >
          <intent-filter >
                  <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
          </intent-filter>
      </service>
      <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
      <service android:name="com.baidu.android.pushservice.CommandService"
          android:exported="true" />
      <!-- push结束 -->
    </config-file>

    <source-file src="src/android/libs/pushservice-4.5.3.48.jar" target-dir="libs/" />
    <source-file src="src/android/com/plugin/baidu/Utils.java" target-dir="src/com/plugin/baidu" />
    <source-file src="src/android/com/plugin/baidu/BaiduPushMessageReceiver.java" target-dir="src/com/plugin/baidu" />
    <source-file src="src/android/com/plugin/baidu/PushBaiduPlugin.java" target-dir="src/com/plugin/baidu" />
	</platform>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="PushPlugin">
				<param name="ios-package" value="PushPlugin"/>
			</feature>
		</config-file>

		<source-file src="src/ios/AppDelegate+notification.m" />
		<source-file src="src/ios/PushPlugin.m" />

		<header-file src="src/ios/AppDelegate+notification.h" />
		<header-file src="src/ios/PushPlugin.h" />

	</platform>

  <!-- wp8 -->
  <platform name="wp8">

    <config-file target="config.xml" parent="/*">
      <feature name="PushPlugin">
        <param name="wp-package" value="PushPlugin"/>
      </feature>
    </config-file>

    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_PUSH_NOTIFICATION"/>
    </config-file>

    <source-file src="src/wp8/PushPlugin.cs" />

  </platform>

</plugin>
